/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

:root {
  --color-text: #2d2d2d;
  --font-family-text: avenir, arial, sans-serif;
  --font-size: 0.823125em;
  --font-weight: normal;
}

body {
  margin: 0;
}

@font-face {
  font-family: avenir;
  src: url(font/avenir_ff/AvenirLTStd-Book.otf)
}

header {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

header img {
  width: 100%;
  max-width: 11.5625em;
  padding: 1.0625em 0.9375em 0.5625em;

}

header>section:first-of-type {
  background-color: black;
  color: white;
  padding: 0.375em;
  width: 100%;

}

header>section:first-of-type p {
  margin: 0;
  text-align: center;
  font-size: 0.8125em;
  font-family: var(--font-family-text);
}

header>section:first-of-type p a {
  color: white;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}


header nav section:first-of-type {
  display: flex;
  margin-left: auto;
  padding: 1em 0;
  position: sticky;
}

header nav svg {
  padding: 0.3125em 0 0;
  height: 1.375em;
  width: 1.375em;

}

header nav article {
  width: 100%;
}

header nav article ul {
  display: flex;
  padding: 0 1em;
  margin: 0.3em 0;
  width: 100%;
  list-style: none;
  gap: 0.6em;

}

header nav article ul li {
  display: flex;
  gap: 0.6em;
}


header nav section button {
  display: flex;
  background-color: transparent;
  border: transparent;
  align-items: center;
  z-index: 2;

}

header nav ul section:first-of-type {
  left: 1em;
  border-bottom: 1px #000 solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;

}


header nav article ul li a {
  display: block;
  font-size: 0.8125em;
  font-family: var(--font-family-text);
  color: var(--color-text);
  text-decoration: none;
}

header nav article ul li a {
  display: block;
  font-size: 0.8125em;
  font-family: var(--font-family-text);
  color: var(--color-text);
  text-decoration: none;

}

.menu>section:last-of-type {
  width: 100%;
  border-top: 1px #000 solid;
  padding: 1em 0;
  
}

.menu>section:last-of-type ul {
  display: flex;
  flex-direction: row;
  text-align: center;

}

.menu>section:last-of-type ul li {
  width: 20%;
}

.menu>section:last-of-type ul li a {
  color: #000;
}

.menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 50em;
  background-color: #ffffff;
  transform: translateX(-30em);
  transition: .5s;
  z-index: 1;
  float: left;
  padding: 0 1em;
  margin: 0;
}

.openmenu {
  transform: translateX(0);
}

.menu ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

}

.menu li {
  list-style-type: none;
  margin: 0;
  line-height: 3;
  display: grid;

}

.menu a {
  text-decoration: none;
  font-family: var(--font-family-text);
  color: #acacac;
  font-size: 0.823125em;

}

.menu img {
  width: 1em;
  right: 1.25em;
  top: 4.5em;
  padding: 0;
}

.kruis {
  margin-left: auto;
  padding: 0;
}

main {
  display: flex;
  flex-wrap: wrap;

}

main nav ul {
  text-decoration: none;
  font-size: var(--font-size);
  font-family: var(--font-family-text);
  color: var(--color-text);
  text-decoration: none;
  list-style: none;
}

main section {
  width: calc(50% - 0.3em);
  position: relative;
  margin-bottom: 0.3em;
}

main section:nth-child(even) {
  margin-left: auto;
}

main section img {
  display: flex;
  float: left;
  width: 100%;
  height: 21.5625em;
}

main section a {
  text-decoration: none;
}

main section article h2 {
  font-family: var(--font-family-text);
  color: var(--color-text);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  margin-left: 0.3125em;

}

main section article p {
  font-family: var(--font-family-text);
  color: var(--color-text);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  margin-left: 0.3125em;

}

footer {
  background-color: #f8f8f8;
  padding: 1em;
}

footer>section h3 {
  margin-bottom: 1em;
  margin-top: 2em;
  font-size: 0.875em;
  font-family: var(--font-family-text);

}

footer section p {
  font-family: var(--font-family-text);
  color: var(--color-text);
  font-weight: var(--font-weight);
  font-size: 0.75em;
  margin-top: 0.5em;
  border: #2d2d2d;
  width: 100%;
  display: inline-flex;

}

footer section p input {
  width: 80%;
  border: 0.2em solid #000;
  font-size: 0.8em;
  font-family: var(--font-family-text);
  font-weight: 400;
  line-height: 0.875em;
  box-sizing: border-box;
  padding: 0.8125em 0.9375em;

}

footer section p button {
  padding: 0.875em 1.5625em;
  border: #000;
  background-color: #000;
  width: 20%;
  display: inline-flex;
  font-family: var(--font-family-text);
  color: white;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  border-style: solid;
  padding: 1em 2em 1em;

}

footer section:nth-of-type(3) {
  margin-left: 1.7em;
  margin-top: 2em;
  margin-bottom: 2em;
}

footer article h3 {
  font-family: var(--font-family-text);
  color: var(--color-text);
  font-size: var(--font-size);
  padding: 1em;
  border-bottom: 1px #000 solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;

}

footer article svg {
  margin-left: 20em;
  transform: rotate(-90deg);
  transform-origin: center center;

}

footer section ul li {
  width: 2em;
  height: 2em;
  margin-left: 1em;
  list-style: none;
  color: var(--color-text);

}

footer section:nth-of-type(4) p {
  justify-content: center;
  text-align: center;
  align-items: center;

}

footer section:nth-of-type(5) ul {
  display: flex;
  margin-left: 1.8em;

}

footer section:nth-of-type(5) ul li svg {
  flex: 25%;
  padding: 0.3em;

}



.menu>section:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
}