/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}


:root {
  --color-text: #2d2d2d;
  --font-family-text: avenir, arial, sans-serif;
  --font-size: 0.823125em;
  --font-weight: normal;
  --background-color: #fff;
  --border-color: #fff;
  --small-font: 0.6875em;
  --smallfont-weight: 300;
  --color-text2: #fff;
  --color-text3: #acacac;
  --footer-color: #f8f8f8;
  --footer-border-color: #000;
  --menu-color: #000;
  --p-color: #fff;
}

.lightmode {
  display: block;
}

.darkmode {
  display: none;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;
    --background-color: #2d2d2d;
    --border-color: #fff;
    --color-text2: #acacac;
    --color-text3: #fff;
    --footer-color: #2d2d2d;
    --footer-border-color: #fff;
    --menu-color: #acacac;
    --p-color: #000;
    
  }
  .darkmode {
    display: block;
  }
  .lightmode {
    display: none;
  }
}


body {
  margin: 0;
}


@font-face {
  font-family: avenir;
  src: url(font/avenir_ff/AvenirLTStd-Book.otf)
}


/* ==========================Header=========================== */

header {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--background-color);
}


header img {
  width: 100%;
  max-width: 11.5625em;
  padding: 1.0625em 0.9375em 0.5625em;
}


header>section:first-of-type {
  background-color: black;
  color: white;
  padding: 0.375em;
  width: 100%;
}


header>section:first-of-type p {
  margin: 0;
  text-align: center;
  font-size: 0.8125em;
  font-family: var(--font-family-text);
}


header nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


header nav section:first-of-type {
  display: flex;
  margin-left: auto;
  padding: 1em 0;
  position: sticky;
}


header nav section:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


header nav svg {
  padding: 0.3125em 0 0;
  height: 1.375em;
  width: 1.375em;
}


header nav section button {
  display: flex;
  background-color: transparent;
  border: transparent;
  align-items: center;
  z-index: 2;
}


header nav ul section:first-of-type {
  left: 1em;
  border-bottom: 0.0625em var(--footer-border-color) solid;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
}


/* ==========================Menu=========================== */

.menu>section:last-of-type {
  width: 100%;
  border-top: 0.0625em var(--menu-color) solid;
  padding: 1em 0;
}


.menu>section:last-of-type ul {
  display: flex;
  flex-direction: row;
  text-align: center;
}


.menu>section:last-of-type ul li {
  width: 20%;
}


.menu>section:last-of-type ul li a {
  color: var(--menu-color);
}


.menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  transform: translateX(-100%);
  transition: .5s;
  z-index: 1;
  float: left;
  padding: 0 1em;
  margin: 0;
}


.openmenu {
  transform: translateX(0);
}


.menu ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}


.menu li {
  list-style-type: none;
  margin: 0;
  line-height: 3;
  display: grid;
}


.menu a {
  text-decoration: none;
  font-family: var(--font-family-text);
  color: var(--color-text3);
  font-size: 0.823125em;
}


.menu img {
  width: 1em;
  right: 1.25em;
  top: 4.5em;
  padding: 0;
}


.kruis {
  margin-left: auto;
  padding: 0;
}


/* ==========================Main=========================== */

main {
  display: flex;
  overflow-x: hidden;
  flex-wrap: wrap;
  background-color: var(--background-color);
}


main nav {
  margin: 0;
  padding: 0;
  width: 100%
}


main nav ul {
  font-size: var(--font-size);
  font-family: var(--font-family-text);
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-text);
  padding-left: 1.1em;
  padding-top: 0;
  gap: 0.6em;
  margin: 0;
}


main nav ul li {
  display: flex;
  gap: 0.6em;
}


main nav ul li a {
  text-decoration: none;
  list-style: none;
  color: var(--color-text);
  gap: 0.6em;
}

main section ul{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

main section ul li{
  width: calc(50% - 0.3em);
  position: relative;
  margin-bottom: 0.3em;
  list-style: none;
  display: list-item;

}

main section ul li:nth-child(even) {
  margin-left: auto;
}

main section ul li img {
  display: flex;
  float: left;
  width: 100%;
}


main section ul li a {
  text-decoration: none;
}


main section ul li article h2 {
  font-family: var(--font-family-text);
  color: var(--color-text);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  margin-left: 0.3125em;
}


main section ul li article p {
  font-family: var(--font-family-text);
  color: var(--color-text);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  margin-left: 0.3125em;
}


main article ul {
  padding: 0;
  margin: 0;
}


main article ul li a img {
  position: relative;
}


main article ul li:nth-of-type(3) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  animation: mymove 5s infinite;
}


@keyframes mymove {
  0% {
    transform: translateX(-50%);
  }

  20% {
    transform: translateX(0%);
  }

  60% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(-50%);
  }
}

main article ul li {
  list-style: none;
  position: relative;
}

main article ul li:nth-of-type(3) a {
  z-index: 1;
}

main article ul li a:nth-of-type(2) {
  position: absolute;
  font-size: 0.6875em;
  line-height: 1.625em;
  font-weight: 300;
  height: auto;
  color: var(--color-text);
  background: var(--background-color);
  border-color: var(--border-color);
  text-decoration: none;
  font-family: var(--font-family-text);
  padding: 0.625em 1.5em 0.4375em;
  min-width: 7.8125em;
  bottom: 2em;
  left: 3em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  border: 0.125em solid transparent;
  
}


main article ul li a:nth-of-type(3) {
  position: absolute;
  font-size: 0.6875em;
  line-height: 1.625em;
  font-weight: 300;
  height: auto;
  color: var(--color-text);
  background: var(--background-color);
  border-color: var(--border-color);
  margin-top: 5em;
  text-decoration: none;
  font-family: var(--font-family-text);
  padding: 0.625em 1.625em 0.5em;
  min-width: 7.8125em;
  bottom: 1.375em;
  left: 55%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  border: 0.125em solid transparent;
}


main article ul li div {
  width: 100%;
  height: 10em;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--menu-color));
}


main article ul li p {
  position: absolute;
  color: white;
  line-height: 1.375em;
  margin: 0 0 0.625em;
  font-family: var(--font-family-text);
  font-size: var(--font-size);
  bottom: 4.4em;
  left: 2.6em;
  font-weight: 700;
}


main article ul li img {
  width: 100vw;
  max-width: unset;
}


strong {
  font-weight: normal;
}


/* ==========================Footer=========================== */

footer {
  background-color: var(--background-color);
  padding: 1em;
}


footer>section h3 {
  margin-bottom: 1em;
  margin-top: 2em;
  font-size: 0.875em;
  font-family: var(--font-family-text);
  color: var(--color-text);
}


footer section p {
  font-family: var(--font-family-text);
  color: var(--color-text);
  font-weight: var(--font-weight);
  font-size: 0.75em;
  margin-top: 0.5em;
  border: #2d2d2d;
  width: 100%;
  display: inline-flex;
}


footer section p input {
  width: 80%;
  border: 0.2em solid #000;
  font-size: 0.8em;
  font-family: var(--font-family-text);
  font-weight: 400;
  line-height: 0.875em;
  box-sizing: border-box;
  padding: 0.8125em 0.9375em;
}


footer section p button {
  padding: 0.875em 1.5625em;
  border: #000;
  background-color: #000;
  width: 20%;
  display: inline-flex;
  font-family: var(--font-family-text);
  color: white;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  border-style: solid;
  padding: 1em 2em 1em;
}


footer section:nth-of-type(3) {
  margin-left: 1.7em;
  margin-top: 2em;
  margin-bottom: 2em;
}


footer article h3 {
  font-family: var(--font-family-text);
  color: var(--color-text);
  font-size: var(--font-size);
}


footer article svg {
  margin-left: auto;
  transform: rotate(-90deg);
  transform-origin: center center;
}


footer section ul li {
  width: 2em;
  height: 2em;
  margin-left: 1em;
  list-style: none;
  color: var(--color-text);
}


footer section:nth-of-type(4) p {
  justify-content: center;
  text-align: center;
  align-items: center;
}


footer section:nth-of-type(5) ul {
  display: flex;
  margin-left: 1.8em;
}


footer section:nth-of-type(5) ul li svg {
  flex: 25%;
  padding: 0.3em;
}


summary{
  display: flex;
  width: 100%;
  padding: 0.5em 0;
  border-bottom: 0.0625em var(--footer-border-color) solid;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  align-items: center;
  list-style: none;
}

details{
  margin: 1em 0;
}

details ul {
  list-style: none;
  margin: 0;
  padding: 1.5em 1em;

}

details ul li{
  font-family:var(--font-family-text);
  font-size: 0.8125em;
  color:var(--color-text);
  margin-bottom: 0.35em;

}
